.notification-row {
  outline: none;
}
.notification-row:focus,
.notification-row:hover {
  background: #fbf1c7;
  color: #3c3836;
}
.notification {
  border-radius: 12px;
  margin: 6px 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
  background: #fbf1c7;
  color: #3c3836;
}

.notification label,
.notification .summary,
.notification .body {
  color: #3c3836;
}

.widget-dnd {
  color: #3c3836;
}

.widget-dnd label {
  color: #3c3836;
}
.control-center {
  background: #fbf1c7;
  color: #3c3836;
  border-radius: 12px;
}
